.q-top-header{
  justify-content: space-between;
}
.icon{
  width: 100px;
}
.select-option-container{
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.eys-btn{
  color: orangered;
}
.eys-btn:hover{
  color: green;
}