.cursor-set{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.siz-input{
  /* width: 500px; */
  font-size: 30px;
  color: orange;
}
.label-aria{
  border: 1px solid orangered;
  border-radius: 10px;
}
.label-aria:hover{
  background-color: rgba(0, 0, 0, 0.169);
}
.p-text{
  color: orangered;
  font-size: 20px;
}